html,
body {
    height: 100%;
	background: linear-gradient(to right, #aebef6, #eaedfb, #aebef6);
	color:#222e5a;
}

.navbar{
	background:#364783;
	border-style: solid;
    border-bottom: 1px solid black;
	height: 50px;
	border-radius:0px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px; /* footer margin */
    padding: 0 0 100px;
	
}

.wrap > .container {
	height: 655px;
    padding: 70px 230px 20px;
	
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
   background-color:transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.row .form{
	padding: 70px 200px 20px;
}

.border{
	border: solid 1px black;
}
#btn {
  background: #2d2963;
  background-image: -webkit-linear-gradient(top, #2d2963, #534d9e);
  background-image: -moz-linear-gradient(top, #2d2963, #534d9e);
  background-image: -ms-linear-gradient(top, #2d2963, #534d9e);
  background-image: -o-linear-gradient(top, #2d2963, #534d9e);
  background-image: linear-gradient(to bottom, #2d2963, #534d9e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#btn:hover {
  background: #8a85c7;
  background-image: -webkit-linear-gradient(top, #8a85c7, #b59eeb);
  background-image: -moz-linear-gradient(top, #8a85c7, #b59eeb);
  background-image: -ms-linear-gradient(top, #8a85c7, #b59eeb);
  background-image: -o-linear-gradient(top, #8a85c7, #b59eeb);
  background-image: linear-gradient(to bottom, #8a85c7, #b59eeb);
  text-decoration: none;
}

          
.sidenav{
	color: pink;
	height: 100%;
	width: 250ox;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.15);
	overflow-x:hidden;
	padding-top: 150px;
	border-right: 1px solid gray;
}

.sidenav a{
	color: white;
	font-size:25px;
	display: block;
	padding: 13px 35px 13px 32px;
	text-decoration:none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 1.3s;
	transition-duration: 1.3s;
}      

.sidenav a:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}    

.sidenav a:hover, .sidenav a:focus, .sidenav a:active {
	color: black;
}
.sidenav a:hover:before, .sidenav a:focus:before, .sidenav a:active:before {
	-webkit-transform: scale(2);
	transform: scale(2);
} 
