html,
body {
    height: 100%;
}

/*try*/
#w0{
	background:#062456;
	border:#f7f9fa;
}
#w1{
	background:#062456;
	border:#f7f9fa;
}


.module-details .text-center{
	width:100px;
}

.module{
    overflow:visible;
    position: relative;
    text-align: center;
    min-height: 250px;
    margin-top: 20px;
    padding-right: 0px !important;
}

.col-xs-offset-1{
    margin-left:8.33333333%;
}

.col-xs-10{
    width: 8.33333333%;
}
.col-lg-offset-2{
	margin-left: 50px;
}

.module-content{
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	border-radius: 20px 20px 20px 20px;	
	width:180px;
}


.module-header{
	background: #7a7a7a;
	background-size: cover;
	height: 50px;
	width:180px;
	border-radius: 5px 5px 5px 5px
}

.module-details{
	line-height: 15px;
	margin-right: 0px;
	padding: 0px 10px 15px 10px;
	color: #585a5b;
	height: 158px;
	width: 180px;
	overflow: hidden;
}

.text-center{
    text-align: center;
	
}


/*END try*/

.wrap {
    min-height: 100%;
    height: auto;
   /* margin: 0 auto -60px;*/
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
	
}

.jumbotron .btn {
    font-size: 21px;
    padding: 1px 4px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/*try lang
